  {%- style -%}
  /* breadcrumb start */
nav.breadcrumbs ol.breadcrumbs__list { display: flex; list-style: none; margin: 0; }
nav.breadcrumbs ol.breadcrumbs__list li, nav.breadcrumbs ol.breadcrumbs__list li a { font-family: Futura Bk BT; font-size: 16px; font-weight: 400; line-height: 25.6px; text-align: left; text-decoration: none; transition: 0.3s all; }
nav.breadcrumbs ol.breadcrumbs__list { column-gap: 8px; }
nav.breadcrumbs ol.breadcrumbs__list li { display: inline-flex; column-gap: 8px; }
nav.breadcrumbs ol.breadcrumbs__list li a.active_text { color: #666; }
nav.breadcrumbs ol.breadcrumbs__list li a.active_text:hover { color: #111; }
@media (max-width: 1200px) {
  nav.breadcrumbs ol.breadcrumbs__list li, nav.breadcrumbs ol.breadcrumbs__list li a { font-size: 14px; }
}
    
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
{%- endstyle -%}

<div class="ctm_brdcm section-{{ section.id }}-padding">
<div class="page-width">
  {%- unless template == 'index' or template == 'cart' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}
    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
      <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link active_text" href="/">Home</a
          ><span
            class="link_space"
            >{% render 'ctm-dropdown-right' %}</span
          >
        </li>
        {%- case t -%}
          {%- when 'page' -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
            </li>
          {%- when 'product' -%}
            {%- if product.collections.size > 0 -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link active_text" href="{{ product.collections.first.url }}">
                  {{- product.collections.first.title -}}</a
                ><span class="link_space">{% render 'ctm-dropdown-right' %}</span>
              </li>
            {%- endif -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
            </li>
          {%- when 'collection' and collection.handle -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                {{ collection.title | link_to: collection.url }}
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{ collection.url }}{% render 'ctm-dropdown-right' %}{{ current_tags | join: "+"}}{%- endcapture -%}
                <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">
                  {{- current_tags | join: ' + ' -}}
                </a>
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
              </li>
            {%- endif -%}
          {%- when 'blog' -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                {{ blog.title | link_to: blog.url }}
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">
                  {{- current_tags | join: ' + ' -}}
                </a>
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
              </li>
            {%- endif -%}
          {%- when 'article' -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
            </li>
        {%- endcase -%}
      </ol>
    </nav>
  {%- endunless -%}
</div>
</div>

{% schema %}
{
  "name": "Breadcrumb",
  "settings": [
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}
